@model IEnumerable<CadastrProject.Models.Cadastre>
@{
    ViewBag.Title = "Главная";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Меню</h2>
                @Html.ActionLink("Просмотреть зарегистрированные объекты", "CadastreObject") 
             <br>
             <p>
                @if (User.IsInRole("Admin")) {
                   @Html.ActionLink("Данные владельцев", "../Owner/OwnerViews")
                    <br>
                   @Html.ActionLink("Просмотреть заявки", "CadastreRequest")
                    <br>
                   @Html.ActionLink("Просмотреть заявки на снятие с учета", "../Request/RequestViews")
                   <br>
                }
             </p>

       


    


